# Ignore the virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore other common files
*.DS_Store

# Ignore node_modules
node_modules/

# Ignore dist directory
wodder/mainapp/static/wodder/dist

# Ignore DB files
*.db.sqlite3

# Ignore media files
media/