asgiref==3.8.1
Django==4.2.17
libsass==0.23.0
node==1.2.2
npm==0.1.1
odict==1.9.0
optional-django==0.1.0
pillow==11.0.0
plumber==1.7
sqlparse==0.5.2
typing_extensions==4.12.2
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.0
zope.proxy==6.1
